@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./components/Account/Create.css";

@layer components {

  h1 {
    margin: 20px 0;
  }
  body {
    min-width: 100%;
    min-height: 100%;
    background: black;
    color: white
  }

  .max-300 {
    max-width: 300px;
    width: 100%;
  }

  button {
    background: white;
    color: black;
    font-weight: bold;
    padding: .5rem;
    margin: .5rem 0;
  }
}
