.post-user-icon  {
    width: 48px;
    height: 48px;
    background: lightblue;
    border-radius: 50%;
  }

  .post-media {
    max-height: 510px;
    overflow: hidden;
    border-radius: 20px;
    flex-wrap: wrap;
    
  }
  .post-media img {
    max-height: 600px;
  }

  .post-content {
    max-width: 480px;
  }

  .post:first-child {
    margin-top: 4rem;
  }

  .main-container {
    max-width: 100% !important;
    @include md {
      max-width: 640px
    }
  }